<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="tokenKey" value="0/d73444b7dee98aa3ad547116dd5ffddc"/>
    <add key="tokenKeyMobile" value ="1/1185205218895689:9aa47d083208279384e0673b1f0b1ddd"/>
    <add key="baseUrl" value="https://app.asana.com/api/1.0/"/>
  </appSettings>
</configuration>